.intro__text {
	max-width: 690px;
	margin-top: 7px;
	margin-bottom: 34px;
	font-style: normal;
	font-size: 16px;
	line-height: 26px;
}

@media (max-width: 1024px) {
	.intro__text {
		margin-top: 7px;
	}
}

@media (max-width: 768px) {
	.intro__text {
		margin-top: 0;
	}
}

@media (max-width: 320px) {
	.intro__text {
		max-width: 288px;
		max-height: 520px;
	}
}